#argument-page {
	min-height: 100vh;
	.argument-title h1 {
		font-weight: 700;
		font-size: 2.5rem;
		margin: 0;
		margin-bottom: 22px;
	}
	hr {
		border: 4px solid whitesmoke;
		width: 8%;
		min-width: 25px;
		margin: 0;
		-webkit-animation-delay: 0.5s;
		animation-delay: 0.5s;
	}

	#sources-container {
		margin-bottom: -20px;
		margin-top: 5px;
		.source-container {
			margin-bottom: 20px;
			.source {
				overflow: hidden;
				display: block;
				position: relative;
				width: 100%;
				border-radius: 4px;
				padding-top: 1rem;
				padding-bottom: 1rem;
				padding-left: 1px;
				font-size: 0.75rem;
				background-color: rgba(32, 32, 32, 0.75);
				line-height: 1;
				text-decoration: none;
				font-weight: 300;
				color: whitesmoke;
				letter-spacing: 1px;
				text-transform: uppercase;
				-webkit-transition: all 0.3s linear;
				transition: all 0.3s linear;
				.source-content {
					position: relative;
					z-index: 7;
				}
				.source-number {
					position: absolute;
					z-index: 6;
					margin: 0;
					top: 50%;
					left: 24%;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					font-weight: 800;
					font-size: 60px;
					line-height: 1;
					pointer-events: none;
					letter-spacing: -2px;
					color: rgba(114, 114, 114, 0.45);
					-webkit-transition: all 0.3s linear;
					transition: all 0.3s linear;
				}
				&:hover {
					// backdrop-filter: saturate(180%) blur(20px);
					background-color: #626262;
					padding-left: 2px;
					letter-spacing: 2px;
					.source-number {
						font-size: 120px;
						opacity: 0;
					}
				}
			}
		}
	}
}

.arg-info-grid {
	display: -webkit-box; /* Not needed if autoprefixing */
	display: -ms-flexbox; /* Not needed if autoprefixing */
	display: flex;
	margin-left: -1.25rem; /* gutter size offset */
	width: auto;
	@media screen and (max-width: 991px) {
		padding-left: 0.75rem;
	}
}
.arg-info-grid-col {
	padding-left: 1.25rem; /* gutter size */
	background-clip: padding-box;
	@media screen and (max-width: 991px) {
		padding-left: 0.75rem;
	}
}
