#argument-form {
	margin-top: 2rem;
	.col {
		margin-bottom: 1.5rem;
		opacity: 0.9;
		transition: opacity 0.3s linear;
		&#checkbox-container {
			justify-content: center;
			@media screen and (min-width: 768px) {
				justify-content: flex-end;
			}
		}
		&:hover {
			opacity: 1;
		}
		label {
			display: block;
			margin-bottom: 0.5rem;
			h3 {
				font-weight: 300;
				text-transform: uppercase;
				font-size: 18px;
				letter-spacing: 2px;
				margin-bottom: 0;
			}
			h4 {
				font-weight: 300;
				font-size: 1rem;
				margin: 0;
				display: inline-block;
			}
			h5 {
				font-weight: 300;
				font-size: 12px;
				opacity: 0.5;
				margin-top: 1px;
				margin-bottom: 0.5rem;
			}
		}
	}
	#submit-button {
		border: none;
		text-align: center;
		width: 100%;
		border-radius: 4px;
		height: 48px;
		font-size: 1rem;
		background-color: rgba(128, 128, 128, 0.75);
		line-height: 1;
		text-decoration: none;
		font-weight: 500;
		color: whitesmoke;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: all 0.3s linear;
		&:hover {
			// backdrop-filter: saturate(180%) blur(20px);
			background-color: whitesmoke;
			color: black;
			padding-left: 2px;
			letter-spacing: 2px;
		}
		&:active {
			font-size: 15px;
		}
	}
}
