.argument-box {
	cursor: pointer;
	padding: 1.5rem 1.5rem 1rem;
	border: 1px solid whitesmoke;
	border-radius: 1rem;
	// position: relative;
	// z-index: 7;
	margin-bottom: 1.25rem;
	color: whitesmoke;
	@media screen and (max-width: 1199px) {
		margin-bottom: 0.75rem;
	}
	&:hover {
		text-decoration: none;
		h1 {
			opacity: 1;
			color: whitesmoke;
		}
		.tags-container {
			opacity: 1;
			h2.in-progress {
				background-color: hsl(43, 74%, 60%);
			}
		}
	}
	h1 {
		font-weight: 500;
		font-size: 30px;
		overflow-wrap: break-word;
		margin-bottom: 1.5rem;
		opacity: 0.8;
		transition: opacity 0.3s linear;
		@media screen and (max-width: 575px) {
			font-size: 22px;
		}
	}
	.tags-container {
		// position: relative;
		// z-index: 8;
		display: flex;
		align-items: center;
		opacity: 0.8;
		transition: opacity 0.3s linear;
		flex-wrap: wrap;
		@media screen and (max-width: 575px) {
			margin-bottom: -0.5rem;
		}
		h2 {
			line-height: 1;
			font-weight: 400;
			letter-spacing: 2px;
			font-size: 1rem;
			margin: 0;
			margin-right: 0.5rem;
			margin-bottom: 0.5rem;
			text-transform: uppercase;
			padding: 0.75rem calc(1rem - 2px) 0.75rem 1rem;
			border-radius: 0.25rem;
			color: rgba(0, 0, 0, 0.85);
			background-color: rgba(245, 245, 245, 0.8);
			width: auto;
			transition: all 0.3s linear;
			@media screen and (max-width: 575px) {
				font-size: 0.75rem;
				padding: 10px 12px 10px 14px;
			}
			@media screen and (max-width: 425px) {
				font-size: 0.5rem;
				padding: 10px 10px 10px 12px;
				font-weight: 500;
			}
			&.in-progress {
				transition: background-color 0.3s linear;
			}
			&:hover {
				background-color: rgba(245, 245, 245, 1);
			}
		}
	}
	.argument-link {
		position: absolute;
		z-index: 8;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}
