.argument-box {
	padding: 1.5rem;
	border: 1px solid whitesmoke;
	border-radius: 1rem;
	position: relative;
	z-index: 7;
	margin-bottom: 1.25rem;
	@media screen and (max-width: 1199px) {
		margin-bottom: 0.75rem;
	}
	transition: opacity 0.3s linear;
	&:hover {
		h1 {
			opacity: 1;
		}
		.tags-container {
			opacity: 1;
			h2.in-progress {
				background-color: hsl(43, 74%, 60%);
			}
		}
	}
	h1 {
		font-weight: 500;
		letter-spacing: 1px;
		font-size: 1.75rem;
		overflow-wrap: break-word;
		margin-bottom: 1.5rem;
		opacity: 0.8;
		transition: opacity 0.3s linear;
		@media screen and (max-width: 575px) {
			font-size: 1.25rem;
		}
	}
	.tags-container {
		display: flex;
		align-items: center;
		opacity: 0.8;
		transition: opacity 0.3s linear;
		flex-wrap: wrap;
		@media screen and (max-width: 575px) {
			margin-bottom: -0.5rem;
		}
		h2 {
			line-height: 1;
			font-weight: 300;
			letter-spacing: 2px;
			font-size: 1rem;
			margin: 0;
			text-transform: uppercase;
			padding: 0.75rem calc(1rem - 2px) 0.75rem 1rem;
			border-radius: 0.25rem;
			color: black;
			background-color: whitesmoke;
			width: auto;
			@media screen and (max-width: 575px) {
				font-size: 0.75rem;
				margin-bottom: 0.5rem;
				// padding: 0.5rem calc(0.75rem - 2px) 0.5rem 0.75rem;
			}
			&.in-progress {
				transition: background-color 0.3s linear;
			}
		}
	}
	.argument-link {
		position: absolute;
		z-index: 8;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}
