#header-section {
	margin-bottom: 1.5rem;
	position: relative;
	border-bottom: 1px solid whitesmoke;
	padding-bottom: 1rem;
	h1 {
		font-weight: 500;
		text-align: center;
		font-size: 55px;
		letter-spacing: -1px;
		margin-bottom: 0.75rem;
		transition: all 0.3s linear;
		.blm {
			font-weight: 800;
			color: whitesmoke;
			-webkit-text-fill-color: black; /* Will override color (regardless of order) */
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: whitesmoke;
			.blm-inner {
				display: none;
			}
			@media screen and (min-width: 810px) {
				&.wide .blm-inner {
					display: inline-block;
				}
			}
			@media screen and (min-width: 992px) {
				&.narrow .blm-inner {
					display: inline-block;
				}
			}
		}

		@media screen and (min-width: 861px) {
			margin-bottom: 0;
			text-align: left;
			&.show-search {
				opacity: 0;
				letter-spacing: -20px;
			}
		}
		// @media screen and (max-width: 575px) {
		// 	font-size: 2rem;
		// 	// span {
		// 	// 	-webkit-text-fill-color: whitesmoke; /* Will override color (regardless of order) */
		// 	// 	-webkit-text-stroke-width: 0px;
		// 	// }
		// }
	}
	#search-container {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		text-align: right;
		.search-input {
			position: absolute;
			right: 15px;
			z-index: 20;
			border-radius: 50px;
			border: none;
			height: 54px;
			width: 0;
			background-color: rgba(240, 240, 240, 0.9);
			font-weight: 300;
			transition: all 0.3s linear;
			&.show-search {
				width: calc(100% - 30px);
				padding: 1.25rem 1.5rem;
				padding-right: 70px;
			}
		}
		.search-btn {
			position: relative;
			z-index: 21;
			width: 54px;
			height: 54px;
			border-radius: 50%;
			border: none;
			background: whitesmoke;
			transition: box-shadow 0.3s linear;
			&.show-search {
				box-shadow: -8px 0 8px -2px rgba(0, 0, 0, 0.2);
			}
			&:focus {
				outline: none;
			}
			&:active {
				.search-icon {
					transform: translate(-50%, -50%) scale(0.9);
				}
			}
			.search-icon {
				position: absolute;
				z-index: 22;
				top: 50%;
				left: 50%;
				font-size: 1.25rem;
				transform: translate(-50%, -50%);
				opacity: 1;
				transition: all 0.3s linear;
				&.cancel {
					opacity: 0;
				}
				&.show-search {
					opacity: 0;
					&.cancel {
						opacity: 1;
					}
				}
			}
		}
		@media screen and (max-width: 860px) {
			position: static;
			transform: none;
			.search-input {
				width: calc(100% - 30px) !important;
				padding: 1rem !important;
				padding-right: 36px !important;
				height: 36px;
				font-size: 14px;
			}
			.search-btn {
				background-color: transparent;
				width: 36px;
				height: 36px;
				&.show-search {
					box-shadow: none;
				}
				.search-icon {
					font-size: 1rem;
					&.show-search {
						opacity: 1;
						&.cancel {
							opacity: 0;
						}
					}
				}
			}
		}
	}
}
