.scroll-to-top {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;
	bottom: 1rem;
	right: 1rem;
	z-index: 999;
	width: 40px;
	height: 40px;
	color: black;
	background-color: whitesmoke;
	border: 1px solid whitesmoke;
	border-radius: 50%;
	opacity: 0;
	font-size: 1.5rem;
	pointer-events: none;
	transition: all 0.3s linear;
	svg {
		fill: black;
		stroke: black;
		height: 30px;
		width: auto;
	}
	&.show {
		opacity: 0.6;
		pointer-events: all;
		cursor: pointer;
		&:hover,
		&:focus {
			opacity: 1;
		}
		&:active {
			transform: translateY(2px);
		}
	}
}
